body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container {
    height: 100vh;
    width: 100vw;
    max-width: 800px;
    min-width: 600px;
    padding: 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.border {
    position: relative;
    height: 342px;
    width: 260px;
    background: transparent;
    border-radius: 15px;
    border: 2px solid #fff;
    opacity: 0;
    transition: 1s ease;
}
.border:hover {
    opacity: 1;
}
.card {
    position: relative;
    height: 379px;
    width: 300px;
    background: #808080;
    margin: 30px;
    border-radius: 20px;
    transition: 1.2s ease;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card0 {
    background:  url(./image/1362b30b97ed513559b4f28a5a3823f2.jpg) center center no-repeat;
    background-size: 300px;
}
.card0:hover {
    background: url(./image/1362b30b97ed513559b4f28a5a3823f2.jpg) left center no-repeat;
    background-size: 600px;
}
.card1 {
    background:  url(./image/080e0d8a824bda915a3995d45b2cdd97.jpg) center center no-repeat;
    background-size: 300px;
}
.card1:hover {
    background: url(./image/080e0d8a824bda915a3995d45b2cdd97.jpg) left center no-repeat;
    background-size: 600px;
}

h2 {
    position: absolute;
    bottom: 130px;
    left: 25px;
    width: 15px;
    color: #fff;
    font-size: 30px;
    line-height: 1;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.icon {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 100px;
    bottom: 30px;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.icon i {
    font-size: 20px;
    transition: 0.2s ease;
}
.icon i:hover {
    font-size: 30px;
    cursor: pointer;
}